#root {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(40, 10, 40, 1) 35%,
    rgba(0, 50, 60, 1) 100%
  );
  min-height: 100%;
}

h1 {
  margin-bottom: 1rem;
  color: lavender;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
}

.create-container {
  display: flex;
  gap: 1rem;
  > input[type="text"] {
    flex-basis: 40%;
  }
}

.edit-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-form {
  display: flex;
  gap: 1rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.btn {
  background-color: slategray;
}

.like {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reply-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
